<%- include('partials/header.ejs'); -%>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/john.jpeg" class="d-block mx-lg-auto img-fluid " alt="John" width="350" height="350"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">What is Spot a John?</h1>
        <p class="lead">Have you ever found yourself in the city without a bathroom? It happens to all of us at some
          point or another. Unfortunately, it's not so easy to find a quick and accessible bathroom nearby without a
          hassle most of the time. Spot a John finds bathrooms near you, offering information like hours of operation,
          who operates it and other important details. Another key feature is for our users to upload john (bathroom)
          locations that they find while exploring the city. So if you Spot a John, do everyone a favor and post about
          it!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/api" class="btn-locations">View locations</a>
          <a href="/db" class="btn-db">Post locations</a>
          
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs'); -%>