<%- include('partials/header.ejs'); -%>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Find locations</h1>
        <p class="lead text-body-secondary">Filter by location type (park, library, etc) for more specific locations</p>
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs'); -%>
    
