/*About page*/
a {
    text-decoration: none;
    color: black;
  }

main {
    background-color: #DAD7CD;
}

.col-xxl-8 {
    width: 100%;
    background-color: #DAD7CD;
}

.btn-locations {
    display: inline-block;
    background-color: #A3B18A; 
    color: #fff; 
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-locations:hover {
    background-color: #344E41;
}

.btn-db {
    display: inline-block;
    background-color: #588157; 
    color: #fff; 
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-db:hover {
    background-color: #344E41;
}
