/*Header*/

header {
  background-color: white;
}

.nav-pills a {
  color: black;
}

.nav-pills a:hover {
  color: #A3B18A;
}


/*End headers*/

/*Footer*/

.container-footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

footer span {
    justify-content: center;
}

/*End footers*/